
@{
    ViewData["Title"] = "AboutUs";
}

<section data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" id="about-us">
    <div class="about-image">
        <img src="~/assets/photos/about-us/aboutus.png" alt="">
    </div>
</section>

<section>
    <div class="container">
        <p class="about-text">At ShadesDaddy, we ensure the authenticity and quality of each and every single frame we sell on our site. Serving customers all over the world since 2007, we strive to provide our customers with the easiest and safest purchasing experience. We are proud to be one of the largest online Authorized retailers of sunglasses, and our goal is to exceed our customers' expectations on each visit. ShadesDaddy has grown to be one of the most trusted sources worldwide for buying authentic name brand glasses and our team takes pride in our dedication to our customers.</p>
    </div>
    <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" class="about-image">
        <img src="~/assets/photos/about-us/big-brand.png" alt="">
    </div>
</section>

