
@{
    ViewData["Title"] = "California";
}

<section id="california-prop">
    <div class="container">
        <div class="califor-prop">
            <h4>CALIFORNIA PROPOSITION 65</h4>
            <p>
                WARNING: These products can expose you to chemicals, including
                Bisphenol A (Bpa), which is known to the State of California
                to cause birth defects or other reproductive harm.
            </p>
            <p>For more information go to: <a href="~/https://www.p65warnings.ca.gov/">www.New WindowP65WarningsNew Window.ca.gov</a>.</p>
        </div>
    </div>
</section>

