
@{
    ViewData["Title"] = "ContactUs";
}

<section>
    <div class="container">
        <div class="contact-us-page">
            <h1>CONTACT US</h1>
            <h4>SHADESDADDY.COM</h4>
            <p>530 Sawgrass Corporate Parkway</p>
            <p>Sunrise, FL 33325</p>
            
            <br>
            <p><b>PHONE:</b> <span>070.744.20.44</span></p>
            <p><b>E-MAIL:</b> <span>HUSEYNKA@CODE.EDU.AZ</span></p>
            <br>
            <p><b>Customer Service Times:</b></p>
            <p>Monday - Friday: 9:30am – 5:30pm EST</p>
            <br>
            <p><b>Business Development:</b></p>
            <p>
                If you have any inquiries regarding becoming a supplier, selling your brand,
                becoming an affiliate, or other matters related to business development with
                ShadesDaddy.com, please email Click To Send An Email <a href="mailto:SUPPORT@SHADESDADDY.COM"> SUPPORT@SHADESDADDY.COM </a> .
                Please only email for business-related inquires.
            </p>
            <br>
            <p>If you are in a rush for your order, please contact us.</p>
            <br>
        </div>
    </div>
</section>


