
@{
    ViewData["Title"] = "Shipping";
}

<section id="shipping-deliver">
    <div class="container">
        <h1>SHIPPING & DELIVERIES</h1>
        <p>All domestic orders ship free with Standard Shipping. We want to get your order to you as quickly as we can. All orders will require a 3-5 business day processing period before shipping out.</p>

    </div>


</section>

<section>
    <div class="container">
        <div style="cursor: pointer" id="flip">ADDITIONAL INFORMATION</div>
        <div id="panel">
            All orders are subject to review and may require additional processing
            time.Please note: Weekends and holidays are not considered business days,
            and processing times are not affected by the shipping method you select.
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h4 class="us-domestic">US Domestic (Shipping Time Additional to the Processing Time)</h4>
        <div class="list-all">
            <ul class="list-group list-custom">
                <li class="list-group-item"><b>Shipping Method</b></li>
                <li class="list-group-item">USPS First Class Mail</li>
                <li class="list-group-item">UPS One Day</li>
            </ul>
            <ul class="list-group list-custom">
                <li class="list-group-item"><b>Shipping Time</b></li>
                <li class="list-group-item">7-9 business days</li>
                <li class="list-group-item">Next Business Day</li>
            </ul>
            <ul class="list-group list-custom-one">
                <li class="list-group-item"><b>Price</b></li>
                <li class="list-group-item">FREE</li>
                <li class="list-group-item">$30.00</li>
            </ul>
        </div>
        <h4 class="us-domestic">International Rates</h4>
        <p class="ship-p">
            *We are not responsible for lost or stolen mail for
            international orders. We are also not responsible for duty / customs fees.
        </p>
        <div class="list-all">
            <ul class="list-group list-custom">
                <li class="list-group-item"><b>Shipping Method</b></li>
                <li class="list-group-item">USPS International Mail (includes most countries)</li>
            </ul>
            <ul class="list-group list-custom">
                <li class="list-group-item"><b>Shipping Time</b></li>
                <li class="list-group-item">Next Business Day</li>
            </ul>
            <ul class="list-group list-custom-one">
                <li class="list-group-item"><b>Price</b></li>
                <li class="list-group-item">$20.00</li>
            </ul>
        </div>
    </div>
</section>

