@model ProductType

@{
    ViewData["Title"] = "Create";
    IEnumerable <ProductType> productTypes = ViewBag.Catagories;
    SelectList selectLists = new SelectList(productTypes, nameof(ProductType.Id), nameof(ProductType.Name));
}

<div class="row">
    <div class="col-lg-4">
        <h1 class="h3 mb-4 text-gray-800">Catagory Create Page</h1>
    </div>
</div>

<div class="row">
     <div class="col-lg-8">
        <form method="post">
            <div class="mb-3 form-check">
                <input asp-for="IsMain" class="form-check-input">
                <label asp-for="IsMain" class="form-check-label" ></label>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div> 
          
            <div id="parentList">
                <select class="form-select form-select-sm" asp-items="selectLists">
                    <option selected>Choose ...</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
     </div>
</div>

