@model OrderVM

 <!-- checkout main wrapper start -->
<div class="checkout-page-wrapper section-padding">
    <div class="container">
        <div class="row">
            <!-- Checkout Billing Details -->
            <div class="col-lg-6">
                <div class="checkout-billing-details-wrap">
                    <h4 class="checkout-title">Billing Details</h4>
                    <div class="billing-form-wrap">
                        @await Html.PartialAsync("_CheckoutPartial",Model.Order)
                    </div>
                </div>
            </div>

           

            <!-- Order Summary Details -->
            <div class="col-lg-6">
                <div class="order-summary-details">
@*                    <!--Order-->
                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Name on Card</label>
                        <input style="width:100% !important;height:50px !important" type="text" id="cname" name="cardname" placeholder="John More Doe">
                        <label for="ccnum">Credit card number</label>
                        <input style="width:100% !important;height:50px !important" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input style="width:100% !important;height:50px !important" type="text" id="expmonth" name="expmonth" placeholder="September">

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input style="width:45% !important;height:50px !important" type="text" id="expyear" name="expyear" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input style="width:45% !important;height:50px !important" type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                    </div>
                    <!--Order-->*@
                    <h4 class="checkout-title">Your Order Summary</h4>
                    <div class="order-summary-content">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Products</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                @{
                                    double? totalPrice = 0;
                                    
                                }
                                <tbody>
                                    @foreach (BasketVM basketVM in Model.BasketVMs)
                                    {
                                        <tr>
                                            <td>
                                                <a>@basketVM.Title <strong> × @basketVM.Count</strong></a>
                                            </td>
                                            <td>$@(basketVM.DiscountedPrice * basketVM.Count)</td>

                                        </tr>
                                        totalPrice += basketVM.DiscountedPrice * basketVM.Count;
                                    }
                                </tbody>
                                <tfoot>
   
                                    <tr>
                                        <td>Total Price</td>
                                        <td>$<strong>@totalPrice</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        </div>

                        <!-- BUTTON -->
                        <div class="order-payment-method">
                            <button form="orderCheckoutForm" class="btn btn-sqr btn-place">Place Order</button>
                        </div>
                    </div>
                </div>
           


            </div>
        </div>
    </div>
</div>
<!-- checkout main wrapper end -->
