@model LoginVM

<section id="login-pg">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <form class="user" method="post">
                 <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <p class="inpt-p">Email</p>
                     <input asp-for="Email" class="login-input"
                     placeholder="Enter a email address" />
                     <span asp-validation-for="Email" class="text text-danger"></span>
                  
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <p class="inpt-p">Password</p>
                      <input asp-for="Password" class="login-input"
                      placeholder="Enter password" />
                      <span asp-validation-for="Password" class="text text-danger"></span>
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                     <input asp-for="RemeindMe" class="form-check-input me-2" />
                            <label class="form-check-label" asp-for="RemeindMe">
                      Remember me
                    </label>
                  </div>
                  <a href="#!" class="text-body">Forgot password?</a>
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="login-button"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a asp-controller="account" asp-action="register"
                      class="link register-ha">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
