@model ProfileVM

<section id="my-account">
    <div class="container">
        <div class="account-info">
            <h4>ACCOUNT DETAILS</h4>
            <a asp-controller="account" asp-action="logout">LOGOUT</a>
        </div>
        <div class="account-order">
            <div class="left-account">
                <h6>@User.Identity.Name</h6>
                <h4>PRIMARY ADDRESS</h4>
                <a class="addAdress" style="cursor:pointer;background-color:aquamarine"><i class="far fa-edit">Add Address</i></a>
                <div class="addressForm d-none">
                    @await Html.PartialAsync("_AddressFormPartial",new Address())
                </div>
                <div class="addressContainer">
                    @if (Model.Addresses != null && Model.Addresses.Count() > 0)
                    {
                        foreach (Address address in Model.Addresses)
                        {
                            <p>@address.AddressLine</p>
                            <p>@address.City</p>
                        }
                    }
                    <a style="cursor:pointer;background-color:aquamarine"><i class="far fa-edit">Edit Address</i></a>
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                    Edit Profile ---> <a asp-controller="account" asp-action="profile" class="link register-ha">Go</a>
                </p>

            </div>
            <div class="vr"></div>
            <div class="order-history">
                <h4>ORDER HISTORY</h4>
                <p>You haven't placed any orders yet.</p>
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col"> Description</th>
                            <th scope="col">Credit</th>
                            <th scope="col">Debit</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                            <td scope="row">1</td>
                            <td>05 May 2013</td>
                            <td>Credit Account</td>
                            <td class="text-success">$150.00</td>
                            <td class="text-error"></td>
                            <td class="text-success">$150.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo Content1 </div> </td>
                        </tr>

                        <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                            <td>2</td>
                            <td>05 May 2013</td>
                            <td>Credit Account</td>
                            <td class="text-success">$11.00</td>
                            <td class="text-error"></td>
                            <td class="text-success">$161.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo Content2</div></td>
                        </tr>

                        <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                            <td>3</td>
                            <td>05 May 2013</td>
                            <td>Credit Account</td>
                            <td class="text-success">$500.00</td>
                            <td class="text-error"></td>
                            <td class="text-success">$661.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo Content3</div></td>
                        </tr>

                        <tr data-toggle="collapse" data-target="#demo4" class="accordion-toggle">
                            <td>4</td>
                            <td>05 May 2013</td>
                            <td>Credit Account</td>
                            <td class="text-success">$500.00</td>
                            <td class="text-error"></td>
                            <td class="text-success">$661.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow"><div id="demo4" class="accordian-body collapse">Demo Content4</div></td>
                        </tr>

                        <tr data-toggle="collapse" data-target="#demo5" class="accordion-toggle">
                            <td>5</td>
                            <td>05 May 2013</td>
                            <td>Credit Account</td>
                            <td class="text-success">$500.00</td>
                            <td class="text-error"></td>
                            <td class="text-success">$661.00</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="hiddenRow"><div id="demo5" class="accordian-body collapse">Demo Content5</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
