@model IEnumerable<WishlistVM>



    <section id="empty-cart">
        <div class="container">
            <div class="emptyy">
                <div class="empty-cart-full">
                    <hr>
                    <p>There are no items in your cart.</p>
                    <hr class="empty-hr">
                    <a asp-action="index" asp-controller="Shop">CONTINUE SHOPPING</a>
                </div>
            </div>
        </div>
    </section>



<section id="basket-full">
    <div class="container">
        <div class="full-basket">
            <div class="basket-products">
                <div class="row">
                    <div class="col-12">
                        @foreach (WishlistVM wishlistVM in Model)
                        {
                            <div class="product-shop-info">
                                <div class="prod-img">
                                    <img src="assets/photos/products/@wishlistVM.Image" alt="">
                                </div>
                                <div class="prod-detail">
                                    <p class="prod-nm">@wishlistVM.Title</p>
                                    <div class="option-title"></div>
                                    <span class="span-red">$@wishlistVM.DiscountedPrice <span class="old-price">$@wishlistVM.Price</span></span>
                                    <p><b>Total:</b>$@(wishlistVM.Count * wishlistVM.DiscountedPrice)</p>
                                </div>
                                <div class="remove-button">
                                    <button class="deleteCart" data-id="@wishlistVM.Id">Remove <i class="fa-solid fa-trash"></i></button>
                                </div>
                                <hr>
                            </div>
                            <hr>
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
